# dependencies
/node_modules

# typescript
*.tsbuildinfo
next-env.d.ts

# externals
/.wrangler/
/.open-next/
/.next/
/.clerk/
/.cursor/

# misc
.DS_Store
*.pem
/dist/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
